<%= form_tag("/api", method: "post") do %>
  <p>Enter Peloton account details:</p>
  <%= label_tag do %>
    Bank Account ID <%= text_field_tag(:bank_account_id) %>
  <% end %>
  <%= label_tag do %>
    Bank Account Name<%= text_field_tag(:bank_account_name) %>
  <% end %>
  <%= label_tag do %>
    Bank Account Owner<%= text_field_tag(:bank_account_owner) %>
  <% end %>
  <%= label_tag do %>
    Bank Account Type Code<%= text_field_tag(:bank_account_type_code) %>
  <% end %>
  <%= label_tag do %>
    Financial Inst Num<%= text_field_tag(:financial_insitution_number) %>
  <% end %>
  <%= label_tag do %>
    Branch Transit Num<%= text_field_tag(:branch_transit_number) %>
  <% end %>
  <%= label_tag do %>
    Account Num<%= text_field_tag(:account_number) %>
  <% end %>
  <%= label_tag do %>
    Currency Code<%= text_field_tag(:currency_code) %>
  <% end %>
  <%= label_tag do %>
    Verify Account?<%= text_field_tag(:verify_account_by_deposit) %>
  <% end %>
  <%= label_tag do %>
    Language Code<%= text_field_tag(:language_code) %>
  <% end %>
  <%= submit_tag("Submit") %>
<% end %>
